<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <p>
            site under maintenance
        </p>
{{> footer}}
    </body>
</html>
